.minSection{
    border-radius: 12px;
    padding: 24px;
    font-size: 18px;
    background-color: white;
    box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;

}
.btn{
    background-color:var(--purpleColor);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bolder;
    padding: 12px;
    text-decoration: none;
}
.btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}
.bannerImg{
    width: 100%;
}
.sectionBanner{
    display: flex;
    align-items: center;
}
