.login {
    width: 360px;
    margin: 0 auto;
}
.login div {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.login .user, .login .pass {
    background-color: #363b41;
    border-radius: 5px;
    padding-left: 50px;
    background-repeat: no-repeat;
    position: left center;
    box-shadow: 1px 1px 3px #000;
    overflow: hidden;
}
.login input {
    height: 50px;
}
.login .user input, .login .pass input {
    background-color: #3b4148;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #606468;
    font-size: 1.1em;
    padding-left: 10px;
    width: 100%;
}
.login .send {
    border-radius: 3px;
}
.login .send input {
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    color: #eee;
    font-weight: bold;
    border: 0;
    background-color: #9E2292;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
