.video {
    min-height: 320px;
    width: 700px;
    padding: 12px;
    text-align: center;
    justify-content: center;
}

.center {
    justify-content: center;
    display: flex;
}

.mainDescription {
    margin-top: 12px;
}

.mainDescription h3:after, .mainDescription h2:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 0;
    width: 33px;
    height: 29px;
    background-image: url(/imgHeader.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

.mainDescription h3, .mainDescription h2 {
    position: relative;
    margin-right: 24px;
}
