.readingCart{
    background-color: white;
    box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;
    border-radius: 15px;
    padding: 12px;
}
.img{
    width: 100%;
    border-radius: 12px;
    height: 200px;
}
.header{
    margin: 12px 0;
    font-weight: bold;
}
.details{
    line-height: 28px;
    font-size: 18px;
    max-height: 162px;
    text-align: justify;
    overflow-y: hidden;
}
.time{
    color: var(--purpleColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.time p{
    margin: 0;
    padding: 4px;
}
.readTime{
    color: var(--purpleColor);
    float: left;
}
.btn{
    color: white;
    border:none;
    background-color: var(--purpleColor);
    font-size: 20px;
    padding: 8px;
    border-radius: 12px;
    margin-top: 6px;
    font-weight: bolder;
    margin-bottom: 8px;
    transition: 0.2s;
    width: 100%;
}
.btn:hover{
    opacity: 0.8;
    transition: 0.2s;
}
.btnSection{
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px;
}
.sectionTime{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
