.header:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 0;
    width: 33px;
    height: 29px;
    background-image: url(/imgHeader.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.header{
    position: relative;
    margin-right: 24px;
}
.marker{
    color: rgb(97, 97, 97);
    background-color: rgb(238, 238, 238);
    padding: 6px;
    margin-bottom:8px;
    border-radius: 2px;
}
.details{
    margin-top: 12px;
}
.firstSection {
    border-radius: 12px;
    padding: 24px;
    font-size: 18px;
    background-color: white;
    box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;
    margin-bottom: 20px;
}
.blogImage{
    width: 70%;
    height: fit-content;
    border-radius: 12px;
}
.center{
    justify-content: center;
    display: flex;
}
.description{
    align-items: center;
    display: flex;
    justify-content: center;
}
.description p{
    font-size: 16px;
    text-align: justify;
}
.purpleColor{
    color: var(--purpleColor);
}
