:root{
  --purpleColor : rgb(124, 58, 237);
  --purpleColor2 : rgb(243, 232, 255);
  --grayColor: #757575;
}
@font-face {
  font-family: yBakh;
  font-weight: 700;
  src: url('./Ybakh/700/yekan bakh en 06 bold.eot'),
  url('./Ybakh/700/yekan bakh en 06 bold.ttf'),
  url('./Ybakh/700/yekan bakh en 06 bold.woff');

}

@font-face {
  font-family: yBakh;
  font-weight: 400;
  src: url('./Ybakh/400/yekan bakh en 04 regular.eot'),
  url('./Ybakh/400/yekan bakh en 04 regular.ttf'),
  url('./Ybakh/400/yekan bakh en 04 regular.woff');
}

@font-face {
  font-family: yBakh;
  font-weight: 500;
  src: url('./Ybakh/500/yekan bakh en 05 medium.eot'),
  url('./Ybakh/500/yekan bakh en 05 medium.ttf'),
  url('./Ybakh/500/yekan bakh en 05 medium.woff');
}

@font-face {
  font-family: yBakh;
  font-weight: 900;
  src: url('./Ybakh/900/yekan bakh en 07 heavy.eot'),
  url('./Ybakh/900/yekan bakh en 07 heavy.ttf'),
  url('./Ybakh/900/yekan bakh en 07 heavy.woff');
}

body{
  background-color: #fcfcfc !important;
  font-family: "yBakh" !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}
/*header css*/
.navigation{
  display: flex;
  align-items: center;
}
.navigation ul{
  margin-bottom: 0;
}
.navigation ul li{
  list-style: none;
  display:  inline;
  padding-left: 38px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation ul li:hover{
  color: var(--purpleColor);
  transition: 0.5s;
}
.header-icon{
  align-items: center;
  display: flex;
}
.header-icon img{
  background-color: var(--purpleColor2);
  border-radius: 14px;
  padding: 14px;
  transition: 0.2s;
  margin-left: 4px;
}
.header-icon img:hover{
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.readMore{
  max-height: fit-content!important;
}
.readMore:after{
  width: 0;
  height: 0 !important;
}
a{
text-decoration: none;
}
.position-ab{
  position: absolute;
}
